<h1> All Links</h1>
Click underline to view shortlink

<% @links.each do |link| %>
  <ul>
    <li><%= link_to link.slug, link.url %> - <%= link.url %></li>
    <li>ShortLInk: <%= short_url :slug => link.slug %></li>
  </ul>
<% end %>
<%= link_to 'Create another link', new_link_path %>
